# Dependencies
node_modules/

# Bun specific
bun.lock
.bun/
node_modules.bun

# Build and Outputs
dist/
build/
out/
*.local

# Logs
*.log
bun-debug.log*

# Environment variables and secrets
.env
.env.local
.env.*.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db